#toolbar {
	background-color: #999999;
	margin:2px;
}

#grade {
	color: black;
	border-color: #696969;
}

#fundo {
    background-color: #DCDCDC;
    color: black;
}

#boxlogin {
    margin: 2px;
    background-color: #999999;
}

#titlelogin {
    color: black;
    margin: 2px;
}

#label {
    color: black;
    margin: 2px;
}

#toolbar_modulos {
    background-color: #363636;
}

#btmod {
    color: black;
    margin: 2px;
    border-style: groove;
    border-color: #999999;
}

